<div id="bgColorBox" class="bgColorBox" style="display: none;">
	<%
		for i in 0..23
			bgActive = '#ffffff'
			if (i.to_i == session[SESSION_SET_BG].to_i)
				bgActive = 'red'	
			end
	%>
	<a href="settings/updateBg?bgid=<%= i %>" class="setColorItem" data-remote="true">
		<div style="border: solid 1px <%= bgActive %>;" class="callColor bg<%= i %> bgBorder" onclick="selBGItem(<%= i %>)" id="bgItem<%= i %>" ></div>
	</a>
	<%
		end
	%>
</div>
